* {
  background: transparent;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 25px;
}
body {
  background: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}
h1, h2 {
  display: block;
  font-size: 13px;
  font-weight: normal;
  margin: 0 0 2px;
  padding: 6px;
}
h1 {
  background: #e0e4e8;
}
h1 span.brand {
  font-weight: bold;
  text-shadow: #808080 1px 1px 1px;
}
.entries {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
}
a {
  border-radius: 4px;
  color: #000000;
  display: inline-block;
  font-size: 13px;
  line-height: 25px;
  text-decoration: none;
}
a:hover {
  background: #d0e0ff;
  transition: background 0.2s;
}
a.entry {
  display: flex;
  flex-direction: row;
  grid-column: 1;
  min-width: 200px;
  position: relative;
}
.icon {
  display: inline-block;
  text-align: center;
  user-select: none;
  width: 24px;
}
a.entry .fsize {
  display: block;
  padding-right: 6px;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
}
a.entry .fsize-hidden {
  color: #ffffff00;
  padding: 0 6px 0 12px;
  user-select: none;
}
a.url .url-slash {
  padding: 0 0;
}
.url-item {
  padding: 0 4px;
}
a.dir, .current {
  font-weight: bold;
}
body.dark {
  background: #000000;
  color: #ffffff;
}
body.dark h1 {
  background: #202428;
}
body.dark a {
  color: #ffffff;
}
body.dark a:hover {
  background: #004060;
}
.no-entry {
  color: #808080;
  padding: 0 4px;
}
@font-face {
  font-family: 'fontello';
  src: url('/.webdir/fontello.woff2') format('woff2'),
       url('/.webdir/fontello.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
i.fo {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: fontello;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1em;
  margin-left: .2em;
  margin-right: .2em;
  speak: never;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  width: 1em;
}
i.fo.fo-file-archive:before { content: '\f1c6'; }
i.fo.fo-file-audio:before { content: '\f1c7'; }
i.fo.fo-file-code:before { content: '\f1c9'; }
i.fo.fo-file-excel:before { content: '\f1c3'; }
i.fo.fo-file-image:before { content: '\f1c5'; }
i.fo.fo-file-pdf:before { content: '\f1c1'; }
i.fo.fo-file-powerpoint:before { content: '\f1c4'; }
i.fo.fo-file-text:before { content: '\f0f6'; }
i.fo.fo-file-video:before { content: '\f1c8'; }
i.fo.fo-file-word:before { content: '\f1c2'; }
i.fo.fo-file:before { content: '\e800'; }
i.fo.fo-folder:before { content: '\f114'; }
i.fo.fo-folder-closed:before { content: '\f115'; }
